{% extends 'base.html.twig' %}

{% block title %}New ProfileEntity{% endblock %}

{% block body %}
    <h1>Create new ProfileEntity</h1>

    {{ include('profile/_form.html.twig') }}

    <a href="{{ path('app_profile_index') }}">back to list</a>
{% endblock %}
